/* --------------------- BASE --------------------- */
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}
body{
    width: 100%;
    max-width: 924px;
    font-family: 'Volkhov';
    font-weight: 400;
    font-style: normal;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main, header, footer{
    width: 97%;;
}
section{
    margin: 50px 5px;
}
h2{
    font-size: 30px;
    margin: 20px 0;
    width: 100%;
}
p{
    width: 100%;
    margin-bottom: 10px;
}
h3{
    font-size: 24px;
}
.project_box{
    margin: 45px 0;
    width: 100%;
}
.project_box img{
    width: 100%;
}
.project_load{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}
.project_load_bar{
    background-color: #eeeeee;
    border-radius: 10px;
    width: 180px;
    height: 100%;
}
.project_load_bar_green{
    background-color: green;
    width: 120px;
    height: 100%;
    margin-bottom: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 3px;
}

/* --------------------- LAYOUT --------------------- */
.body-layout{
    color: #eeeeee;
    text-align: center;
}
.body-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.header__nav{
    padding: 10px;
    margin: auto;
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.section_perfil{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.perfil_img {
    width: fit-content;
    height: 280px;
    display: flex;
    align-items: end;
    background: linear-gradient(to top, #eeeeee1c, #1e1e1e);
    border-bottom:solid 6px rgb(0,255,0);
    border-left: solid 1px rgb(0,255,0);
    margin-top: -20px;
    z-index:-1;
}
.perfil_img img{
    width: 200px;
    z-index: 1;

}
.perfil_otimizados{
    border-bottom: 1px solid rgb(0, 255, 0)   ;
}
hr{
    border: solid 1px #eeeeee;
    border-top-color: #1e1e1e;
    width: 95%; 
}
.project_box img{
    border-radius: 4px;
    width: 100%;
}

/* --------------------- MODULE --------------------- */
a{
    color: #eeeeee;
    font-size: 1.5em;
}
i{
    font-size: 26px;
    padding: 3px;
}
form{
    margin: 5px auto;
}
input, textarea{
    margin: 3px auto;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    padding: 15px;
    background-color: #1e1e1e;
    border-bottom: solid 2px #eeeeee;
    color: #eeeeee;
}
input::placeholder{
    color: #eeeeee;
}
textarea::placeholder{
    color: #eeeeee;
}
textarea{
    height: 150px;
}
#enviar{
    color: #eeeeee;
    width: 150px;
    position: relative;
    left: 25%;
    border-bottom: 1px solid rgb(0,255,0);
}
.perfil_contact{
    padding: 5px;
    font-size: 28px;
    text-decoration: none;
    border-bottom: 1px solid rgb(0,255,0);
    width: fit-content;
}

/* --------------------- STATE --------------------- */

/* --------------------- THEME --------------------- */

@media (min-width:767px){
/* --------------------- BASE --------------------- */
.header__nav{
    margin: 0;
}
.section_projects_divs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.project_box img{
    width: 250px;
}

/* --------------------- LAYOUT --------------------- */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}
.section_perfil{
    position: relative;
    width: 100%;
    height: 390px;
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: end;
}
.perfil_img{
    width: 350px;
    height: 550px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -150px;
    margin-right: -20px;
    border:none;
}
.perfil_img img{
    width: 100%;
    width: 350px;
    margin-top: 400px;
}
.perfil_heads{
    width: fit-content;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.perfil_heads h2{
    font-size: 42px;
    padding: 10px 0;
}
.perfil_heads p{
    font-size: 26px;
    width: 480px;
    padding: 10px 0;
}
hr{
    margin-top: 80px;
}



/* --------------------- MODULE --------------------- */

/* --------------------- STATE --------------------- */

/* --------------------- THEME --------------------- */
}



/* BASE */

/* LAYOUT */

/* MODULE */

/* STATE */

/* THEME */