/* --------------------- BASE --------------------- */
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    font-family: 'Volkhov';
    font-weight: 400;
    font-style: normal;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
header{
    width: 97%;
    max-width: 800px;
    background: transparent;
}
section{
    width: 95%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
hr{
    margin: 5px 0;
    border: solid 1px #eeeeee;
    width: 85%; 
}
h2{
    font-size: 28px;
    width: 100%;
    margin: 20px 0;
}
p{
    margin-bottom: 25px;
}
img{
    border-radius: 4px;
}
h3{
    font-size: 24px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* --------------------- LAYOUT --------------------- */
.l-body{/*Estiliza o body*/
    background-color: #1e1e1e;
    color: #eeeeee;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.l-header{/*estiliza o cabeçalho*/
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.l-header nav{/*Estiliza os botões do cabeçalho*/
    padding: 10px;
    margin: auto;
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.box-img {/*Box em que fica a imagem do perfil*/
    width: fit-content;
    height: 280px;
    display: flex;
    align-items: end;
    background: linear-gradient(to top, #eeeeee1c, #1e1e1e);
    border-bottom:solid 6px rgb(0,255,0);
    border-left: solid 1px rgb(0,255,0);
    margin-top: -65px;
    z-index:-1;
}
.box-img img{/*Imagem do perfil*/
    height: auto;
    z-index: 1;
    
}
.a-contact{/*Define o design do botão coontato que está abaixo da subhead na primeira seção. */
    padding: 5px;
    font-size: 28px;
    text-decoration: none;
    width: fit-content;
}
.projectStyle img{/*Deixa a imagem de cada projeto mais longe do parágrafo do projeto anterior*/
    width: 100%;
}
.box-load-bar{/*div para a barra de load dos projetos em andamento*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}
.load-bar{/*Barra de load dos projetos em andamento*/
    background-color: #eeeeee;
    border-radius: 10px;
    width: 180px;
    height: 100%;
}
.load-bar-green{/*Espaço verde da barra de load dos projetos em andamento*/
    background-color: green;
    width: 120px;
    height: 100%;
    margin-bottom: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 3px;
}
.formStyle{/*Define o design do formulário de contato*/
    background-color: #2e2e2e;
    width: 100%;
}
.formStyle div{/*Deixa o formulário ais centralizado*/
    width: 95%;
}
.l-footer{/*Rodapé da página*/
    background-color: #2e2e2e;
    padding: 20px 0;
}

/* --------------------- MODULE --------------------- */
button{/*botão*/
    background-color:#1e1e1e;
    margin: 15px 0;
}
a{/*Armazena o link do botão.*/
    color: #eeeeee;
    font-size: 1.5em;
}
.greenLine{/*Deixa a palavra sublinhada de verde.*/
    border-bottom: 1px solid rgb(0, 255, 0);
}
i{/*Deixa o ícone dos favicons mais bonitos.*/
    font-size: 26px;
    padding: 3px;
}
form{/*Estiliza o formulário de contato*/
    margin: 5px 0;
    width: 100%;
}
input, textarea{/*Layout dos campos de textos do formulario*/
    margin: 3px auto;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    padding: 15px;
    background-color: #2e2e2e;
    border-bottom: solid 2px #eeeeee;
    color: #eeeeee;
}
input::placeholder{
    color: #eeeeee;
    background-color: #2e2e2e;
}
textarea::placeholder{
    color: #eeeeee;
    background-color: #2e2e2e;
}
textarea{
    height: 150px;
    background-color: #2e2e2e;
}
form .enviar{
    color: #eeeeee;
    width: 180px;
    position: relative;
    left: 25%;
    border-bottom: 1px solid rgb(0,255,0);
    
}

@media (min-width:767px){
/* --------------------- BASE --------------------- */
nav{/***********************/
    margin: 0;
}
section{
    max-width: 95%;
}

.section_projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}
.section_projects_divs{
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.project_box{
    padding: 0;
    margin: 0;
}
hr{
    margin-top: 50px;
}
.section_form{
    width: 100%;
}



/* --------------------- LAYOUT --------------------- */
.l-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}
.section_perfil{
    position: relative;
    width: 95%;
    height: 390px;
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: start;
}
.perfil_img{
    width: 320px;
    height: 520px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -100px;
    margin-right: -20px;
    border:none;
}
.perfil_img img{
    width: 100%;
    width: 320px;
    margin-top: 400px;
}
.perfil_titles{
    width: fit-content;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.perfil_titles h2{
    margin-top: 70px;
    font-size: 42px;
}
.perfil_titles p{
    font-size: 24px;
    width: 445px;
    margin-top: 25px;
}
.perfil_contact{
    margin-top: 25px;
}
.project_box img{
    min-width: 300px;
}
.form_titles, .form_box{
    width: 60%;
}
.footer_itens{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 730px;
}
.footer_itens nav{
    order:  1;
    width: 100px;
    display: flex;

    justify-content: space-around;
}
.footer_itens{
    font-size: 1.5em;
}
}

@media (min-width:1023px){
/* --------------------- BASE --------------------- */
header, main, footer{
    min-width: 850px;
}
.perfil_img {
    margin-right: 0;
}
.perfil_titles h2{
    font-size: 44px;
}
form{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

/* --------------------- LAYOUT --------------------- */
.section_projects{
    min-width: 100%;
}
.form_itens{
    padding-top: 50px;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    text-align: start;
    width: 850px;
}
.form_itens h2{
    font-size: 48px;
}
.form_titles{
    padding-right: 30px;
}
.form_box{
    padding-left: 30px;
}
.last_hr{
    width: 800px;
}
}









