*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-align: center;
}
html{
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    color: #eeeeee;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#1e1e1e;
    font-family: 'Volkhov';
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}
section{
    width: 95%;
    padding-bottom: 25px;
}
hr{
    border: solid 1px #6161615b;
    width:60%;
    margin: 20px;
    
}
a{
    color: #eeeeee;
    z-index: 2;
    text-decoration: none;
}
.greenline{
    border-bottom: solid 3px green;
    padding-bottom: 8px;
}

/*Estilos mais especificos*/
i{
    font-size: 30px;
}
h1{
    padding: 8px;
}
h2{
    padding: 10px;
    font-size: 32px;
}
nav{
    display: flex;
    width: 50%;
    justify-content:space-around;
    align-items: center;
    padding: 3px;
}
.firstSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
  
}
.divImg{
    overflow: hidden;
    border-bottom-left-radius: 45%;
    border-bottom: solid 3px green;
    margin-top: -55px;
    width: fit-content;
    z-index: 1;
    display: flex;
    height: 280px;
    align-items: end;
    margin-bottom: 40px;
    background:linear-gradient(to top, #6161615b, #1e1e1e);
}
.divImg img{
    border-bottom-left-radius: 40%;
}
.divHeads h2{
    padding-bottom: 10px;
}
.divHeads p{
    padding: 20px 0;
}
.divHeads a{
    font-size: 18px;
}

/*Proximos 3 elementos são padrões para a criação de mais projetos*/

.projetostitulos{
    font-size: 24px;
    display: inline;
    flex-direction: column;
}
.projetostextos{
    padding: 10px 0;
}
.projetosimg img{
    width: 75%;
    border-radius: 8px;
    margin-bottom: 20px;
}

/*Decoração lateral de cada projeto*/
.projetocrm{
    padding: 10px;
    border-left: solid 2px green;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}
.projetoebook{
    padding: 10px;
    border-right: solid 2px green;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10% ;
    margin-top: 30px;
}
.projetoroupasdecama{
    padding: 10px;
    border-left: solid 2px green;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    margin-top: 30px;
}
.projetotranslado{
    padding: 10px;
    border-right: solid 2px green;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10% ;
    margin-top: 30px;
}

/*PóXimos 3 elementos são padrões para projetos em andamento*/
.projetodownload{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.corpobarra{
    display: flex;
    align-items: start;
    width: 250px;
    background-color: #6161615b;
    border-radius: 10px;
}
.barracheia{
    padding: 5px 15px;
    background-color: green;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #1e1e1e;
}

/*Formulário*/
.sessaoformulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divform{
    width: 95%;
    display: flex;
    justify-content: center;
}.textoformulario{
    text-align: center;
}
form{
    width: 85%;
    padding: 25px;
}
input{
    color: aliceblue;
    border-bottom: 10px;
    background:none;
    width: 100%;
    min-height: 25px;
    margin: 3px 0;
}
textarea{
    color: aliceblue;
    border-bottom: 10px;
    background:none;
    width: 100%;
    min-height: 50px;;
    margin: 3px 0;
}
#enviar{
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 60px;
    cursor: pointer;
    margin-top: 20px;
    background-color: green;
    color: #1e1e1e;
}

/*Footer*/
footer{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
footer nav{
    width: 100px;
    justify-content: space-around;
    padding: 10px;
}

/*Tablets*/
@media (min-width: 768px){
    header{
        flex-direction: row;
        width: 98%;
        justify-content: space-around;
        text-align: left;
        font-size: 12px;
    }
    header, section{
        max-width: 750px;
    }
    .fa-brands{
        font-size: 20px;
    }
    nav{
        width: 20%;
        display: inline-flex;
        justify-content: space-evenly;
        display: inline-flex;
    }
    .firstSection{
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0;
    }
    .divHeads{
        margin: 0;
        order: 1;
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .divImg{
        margin: 0;
        order: 2;
        margin: 0;
        padding-top: 25px;
    }
    .divImg img{
        width: 230px;
    }
    .divHeads h2{
        text-align: left;
        padding: 0;
    }
    p{
        text-align: left;
    }
    section{
        width: 95%;
    }
    hr{
        margin: 25px 0;
    }
    .secondSection{
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap:10px;
    }
    .divsprojetos{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .projetocrm{
        padding: 10px;
        border-left: 0;
        border-right: solid 2px green;
        border-bottom: solid 2px green;
        border-bottom-left-radius: 10%;
        border-top-right-radius: 10%;
    }
    .projetoebook{
        border-right: 0;
        margin-top: 0;
    }
    .projetoroupasdecama{
        border-left: 0;
        border-top-left-radius: 10%;
        border-bottom-left-radius: 10%;
        margin-top: 0;
    }
    .projetotranslado{
        border-right: 0;
        border-top: solid 2px green;
        border-top-right-radius: 10%;
        border-left: solid 2px green;
        border-bottom-left-radius: 10% ;
        margin-top: 0;
    }
    input{
        max-width:60%
    }
    textarea{
        max-width: 60%;
    }
}

/*Telas maiores*/
@media (min-width:1024px){
    header, section{
        max-width: 75   0px;
    }
}