/* --------------------- BASE --------------------- */

*{
    margin: 0;
    border: 0;
    box-sizing: border-box; 
}
html, body{
    width: 100%;
    font-family: 'Volkhov';
    font-weight: 400;
    font-style: normal;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
header{
    width: 95%;
    max-width: 800px;
    background: transparent;
}
section{
    width: 95%;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
hr{
    margin: 20px 0;
    border: solid 1px #eeeeee;
    border-top: none;
    width: 95%; 
    padding: 0;
}
h2{
    width: 100%;
    margin: 15px 0;
    font-size: 24px;
}
h3{
    font-size: 18px;
}
code{
    font-size: 24px;
}
p{
    margin: 5px 0;
}
img{
    border-radius: 4px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/* --------------------- LAYOUT --------------------- */
.l-body{/*Estiliza o body*/
    background-color: #1e1e1e;
    color: #eeeeee;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.l-header{/*estiliza o cabeçalho*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    z-index: 10;
}
.l-header h1{/*Estiliza o titulo do cabeçalho*/
    display: flex;
    align-items: center;
    font-size: 28px;
}
.l-header nav{/*Estiliza os botões do cabeçalho*/
    padding: 10px;
    margin: auto;
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.l-section{
    width: 95%;
    padding: 0;
}
.l-project{
    padding: 15px 0;
}
.box-img {/*Box em que fica a imagem do perfil*/
    width: fit-content;
    height: 350px;
    display: flex;
    align-items: end;
    background: linear-gradient(to top, #eeeeee1c, #1e1e1e);
    /*border-bottom:solid 6px rgb(0,255,0);
    border-left: solid 1px rgb(0,255,0);*/
    margin-top: -95px;
}
.perfil_titles{
    order: 2;
}
.perfil_titles h2{/*Titulo da primeira seção*/
    font-size: 30px;
    margin-top: 35px;
}
.a-contact{/*Define o design do botão coontato que está abaixo da subhead na primeira seção. */
    padding: 5px;
    font-size: 28px;
    text-decoration: none;
    width: fit-content;
}
.project-section img{/*Deixa a imagem de cada projeto mais longe do parágrafo do projeto anterior*/
    width: 100%;
}
.box-load-bar{/*div para a barra de load dos projetos em andamento*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}
.load-bar{/*Barra de load dos projetos em andamento*/
    background-color: #eeeeee;
    border-radius: 10px;
    width: 180px;
}
.load-bar-green{/*Espaço verde da barra de load dos projetos em andamento*/
    background-color: green;
    width: 120px;
    height: 100%;
    margin: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 3px;
}
.form-section{/*Define o design do formulário de contato*/
    background-color: #2e2e2e;
    width: 100%;
}
.form-section div{/*Deixa o formulário ais centralizado*/
    width: 95%;
}
.l-footer{/*Rodapé da página*/
    background-color: #2e2e2e;
    padding: 20px 0;
}
/* --------------------- MODULE --------------------- */
button{/*botão*/
    background-color:#1e1e1e;
    margin: 15px;
    outline: dashed 1px rgb(0, 255, 0);
    justify-content: center;
}
a{/*Armazena o link do botão.*/
    color: #eeeeee;
}
.greenLine{/*Deixa a palavra sublinhada de verde.*/
    border-bottom: 1px solid rgb(0, 255, 0);
}
i{/*Deixa o ícone dos favicons mais bonitos.*/
    font-size: 26px;
    padding: 3px;
}
form{/*Estiliza o formulário de contato*/
    margin: 5px 0;
    width: 95%;
}
input, textarea{/*Layout dos campos de textos do formulario*/
    margin: 3px auto;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    padding: 15px;
    background-color: #2e2e2e;
    border-bottom: solid 2px #eeeeee;
    color: #eeeeee;
}
input::placeholder{
    color: #eeeeee;
    background-color: #2e2e2e;
}
textarea::placeholder{
    color: #eeeeee;
    background-color: #2e2e2e;
}
textarea{
    height: 150px;
    background-color: #2e2e2e;
}
form .enviar{
    color: #eeeeee;
    width: 180px;
    position: relative;
    left: 25%;
    border-bottom: 1px solid rgb(0,255,0);
    
}
@media (min-width:767px){
    /* --------------------- BASE --------------------- */
    header{
        width: 90%;
    }
    main{
        max-width: 90%;
    }
    button{
        width: fit-content;
    }
    hr{
        margin: 50px 0;
        width: 100%;
    }
    /* --------------------- LAYOUT --------------------- */
    .l-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .l-header nav{
        margin: 0;
    }
    .l-section{
        width: 100%;
    }
    .first-section{/*Primeira seção onde tem titulo, subtitulo e imagem de perfil*/
        flex-direction: row;
        position: relative;
    }
    .perfil_titles{/*Div que contem o titulo, subtitulo e botão de contato*/
        text-align: left;
        order: initial;
        position: relative;
        z-index: 2;
    }
    .perfil_titles h2{/*Estiliza o titulo da primeira seção.*/
        margin-top: 80px;
        font-size: 38px;
    }
    .perfil_titles p{/*Estiliza o paragrafo abaixo do titulo da pagina*/
        font-size: 24px;
        width: 445px;
        margin:50px 0 60px 0;
    }
    .box-img{/* Refere á div que armazena o elemento img com a imagem do perfil*/
        height: 500px;
        right: 0;
        top: 0;
        margin-top: -80px;
        border:none;
        position: absolute;
        z-index: 1;

    }
    .box-img img{/*Altera largura da imagem*/
        width: 320px;
    }
    .project-section{/*Sessão que armazena os projetos*/
        padding: 0;
        justify-content: space-around;
    }
    .project-section h2{/*Titulo da sessão de projetos*/
        margin: 0 0 20px 0;
    }
    .h2-size{
        font-size: 32px;
    }
    .box-projects{/*Div que armazena os projetos*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: space-between;
        width: 100%;
    }
    .l-project{/*Defini tamanho máximo de largura para cada projeto */
        max-width: 48%;
    }
    .form-section{/*Sessão que contém o formulário de contato*/
        width: 100vw;
    }
    .form-divs{/*Defini largura para as divs que estãoi dentro da sessão do formulário*/
        max-width: 65%;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .l-footer div{
        width: 95%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .l-footer p {
        margin: 0;
        padding: 10px;
        font-size: 28px;
    }
    .l-footer nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        padding: 10px;
    }
    /* --------------------- MODULE --------------------- */
    button{
        margin: 0;
    }
     button code{
        font-size: 34px;
    }
    .l-footer hr{
        margin: 50px 0 20px 0;
        max-width: 95%;
    }
}

@media (min-width:1023px){
    /* --------------------- BASE --------------------- */
    header, main{
        max-width: 800px;
    }
    hr{
        width: 100%;
    }
    h1{
        font-size: 26px;
    }
    form{
        max-width: 450px;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    /* --------------------- LAYOUT --------------------- */
    .first-section{
        display: flex;
    }
    .box-img{
        position: absolute;
        height: 530px;
    }
    .perfil_titles{
        height: 450px;
    }
    .perfil_titles h2{ 
        font-size: 46px;
        position: relative;
        z-index: 2; 
    }
    .form-section{
        width: 100vw;
        display: flex;
        flex-direction: row; 
        align-items: start;
        justify-content: center;
    }
    .form-divs{
        max-width: 390px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .form_titles{
        padding-right: 30px;
    }
    .l-footer div{
        max-width: 800px;
        margin-bottom: 30px;
    }
    .l-footer hr{
        margin: 50px 0 20px 0;
        max-width: 800px;
    }
}









